* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif',sans-serif;
  font-weight: 400;
}
.navbar {
  background-color: #5C6F7F;
  height: 50px;
}
.title {
  position: relative;
  top: 13px;
  left: 10px;
  font-size: 22px;
  color: rgb(255, 81, 0);
}
.foot {
  position: fixed;
  bottom: 0;
  left: 130px;
  display: flex;
  /* gap: 10px; */
}
.btn {
  padding: 10px 30px;
  position: relative;
  bottom: 25px;
  background: none;
  border-radius: 30px;
  outline: none;
  border: none;
  border: 3px solid #1ABC9C;
  font-size: 22px;
  font-weight: bold;
  color: #1ABC9C;
  transition: 0.4s ease-in-out;
}
/* .btn:hover {
  background-color: rgba(241, 218, 15, 0.425);
  color: white;
  border: 3px solid rgb(255, 81, 0);
} */

/* .icon {
  position: relative;
  bottom: 20px;
  font-size: 40px;
  font-weight: lighter;
  color: rgba(241, 218, 15, 0.945);
} */
.quote {
  font-size: 18px;
  color: rgba(241, 218, 15, 0.945);
}
.main-container {
  background-color: #FFC857;
  min-height: 100vh;
  padding: 40px;
}
@media screen  and (min-width:768px){
    .navbar{
        background-color: rgba(247, 240, 182, 0.555)
        ;
    }
    body{
        background-color:rgba(247, 240, 182, 0.555) ;
    }
   .title{
    font-size: 47px;
   }
    .main-container{
        text-align: center;
        display: block;
        margin-top: 30px;
        background-color:rgba(247, 240, 182, 0.555) ;
    }
    .btn{
        position: relative;
        top: 50px;
        text-align: center;
        left: 480px;
    }
    .foot{
        text-align: center;
      position: relative;
    }
    .btn:hover{
        border: 3px solid white;
    }
    .quote{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 600px;
        background-color:rgb(255, 81, 0) ;
        border-radius: 50px;
        margin: auto;
    }
}
